@define-color borders_breeze #33373a;
@define-color content_view_bg_breeze #1a1e21;
@define-color error_color_backdrop_breeze #f67e7d;
@define-color error_color_breeze #f67e7d;
@define-color error_color_insensitive_backdrop_breeze #623d3e;
@define-color error_color_insensitive_breeze #623d3e;
@define-color insensitive_base_color_breeze #191d1f;
@define-color insensitive_base_fg_color_breeze #373a3d;
@define-color insensitive_bg_color_breeze #1b1f22;
@define-color insensitive_borders_breeze #222729;
@define-color insensitive_fg_color_breeze #393c3f;
@define-color insensitive_selected_bg_color_breeze #1b1f22;
@define-color insensitive_selected_fg_color_breeze #393c3f;
@define-color insensitive_unfocused_bg_color_breeze #1b1f22;
@define-color insensitive_unfocused_fg_color_breeze #393c3f;
@define-color insensitive_unfocused_selected_bg_color_breeze #1b1f22;
@define-color insensitive_unfocused_selected_fg_color_breeze #393c3f;
@define-color link_color_breeze #5294e2;
@define-color link_visited_color_breeze #7cb7ff;
@define-color success_color_backdrop_breeze #cae7b9;
@define-color success_color_breeze #cae7b9;
@define-color success_color_insensitive_backdrop_breeze #546052;
@define-color success_color_insensitive_breeze #546052;
@define-color theme_base_color_breeze #1a1e21;
@define-color theme_bg_color_breeze #1c2124;
@define-color theme_button_background_backdrop_breeze #1c2124;
@define-color theme_button_background_backdrop_insensitive_breeze #1b1f22;
@define-color theme_button_background_insensitive_breeze #1b1f22;
@define-color theme_button_background_normal_breeze #1c2124;
@define-color theme_button_decoration_focus_backdrop_breeze #f67e7d;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #633e40;
@define-color theme_button_decoration_focus_breeze #f67e7d;
@define-color theme_button_decoration_focus_insensitive_breeze #633e40;
@define-color theme_button_decoration_hover_backdrop_breeze #f67e7d;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #633e40;
@define-color theme_button_decoration_hover_breeze #f67e7d;
@define-color theme_button_decoration_hover_insensitive_breeze #633e40;
@define-color theme_button_foreground_active_backdrop_breeze #76777a;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #393c3f;
@define-color theme_button_foreground_active_breeze #f7f7f7;
@define-color theme_button_foreground_active_insensitive_breeze #393c3f;
@define-color theme_button_foreground_backdrop_breeze #76777a;
@define-color theme_button_foreground_backdrop_insensitive_breeze #393c3f;
@define-color theme_button_foreground_insensitive_breeze #393c3f;
@define-color theme_button_foreground_normal_breeze #76777a;
@define-color theme_fg_color_breeze #76777a;
@define-color theme_hovering_selected_bg_color_breeze #f67e7d;
@define-color theme_selected_bg_color_breeze #f67e7d;
@define-color theme_selected_fg_color_breeze #f7f7f7;
@define-color theme_text_color_breeze #76777a;
@define-color theme_titlebar_background_backdrop_breeze #2f343f;
@define-color theme_titlebar_background_breeze #2f343f;
@define-color theme_titlebar_background_light_breeze #1c2124;
@define-color theme_titlebar_foreground_backdrop_breeze #666a73;
@define-color theme_titlebar_foreground_breeze #d3dae3;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #666a73;
@define-color theme_titlebar_foreground_insensitive_breeze #666a73;
@define-color theme_unfocused_base_color_breeze #1a1e21;
@define-color theme_unfocused_bg_color_breeze #1c2124;
@define-color theme_unfocused_fg_color_breeze #76777a;
@define-color theme_unfocused_selected_bg_color_alt_breeze #583131;
@define-color theme_unfocused_selected_bg_color_breeze #583131;
@define-color theme_unfocused_selected_fg_color_breeze #76777a;
@define-color theme_unfocused_text_color_breeze #76777a;
@define-color theme_unfocused_view_bg_color_breeze #191d1f;
@define-color theme_unfocused_view_text_color_breeze #373a3d;
@define-color theme_view_active_decoration_color_breeze #f67e7d;
@define-color theme_view_hover_decoration_color_breeze #f67e7d;
@define-color tooltip_background_breeze #353945;
@define-color tooltip_border_breeze #5d616d;
@define-color tooltip_text_breeze #d3dae3;
@define-color unfocused_borders_breeze #33373a;
@define-color unfocused_insensitive_borders_breeze #222729;
@define-color warning_color_backdrop_breeze #f79f79;
@define-color warning_color_breeze #f79f79;
@define-color warning_color_insensitive_backdrop_breeze #63483d;
@define-color warning_color_insensitive_breeze #63483d;
